.container {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: center;
  margin-left: 5vw;
}

.card {
  width: 355px;
  height: 525px;
  margin: 20px;
}

.card:hover {
  border-bottom: 0.1px solid blue ;
}

.subtitle {
  margin-inline: 10px;
  text-align: justify;
}

.text {
  margin-inline: 10px;
  text-align: justify;
}